.align-center {
  vertical-align: center;
  horizontal-align: center;
}

.title {
  font-size: 22;
  margin: 4;
}

.message {
  font-size: 18;
  margin: 15;
}

.list-item {
  padding: 10;
}

.avatar {
  height: 50;
  width: 50;
  color: #fff;
  border-radius: 25;
  margin-left: 5;
  horizontal-align: center;
  vertical-align: center;
  text-align: center;
}
