.Material {
    font-family: MaterialIcons-Regular, Material Icons;
}

button {
    font-family: 'Roboto', Roboto;
}

.align-center {
    vertical-align: center;
    horizontal-align: center;
}

.title {
    font-size: 22;
    margin: 4;
}